/* When a user is online */

.online {
  border-left: 5px solid #28a745;
}

.status-online {
  color: #28a745;
}

/* When a user is offline */

.offline {
  border-left: 5px solid #6c757d;
}

.status-offline {
  color: rgb(63, 63, 63);
}

.userIMG {
  height: 80px;
}

.btn {
  border-radius: 0 !important;
}

.item:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: rgb(63, 63, 63) !important;
}

.show {
  background-color: red;
  display: block !important;
}